  <!-- Nav Bar for all pages -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-brand" id="nav-title" >Travel Scraper</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/saved">Saved</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn" id="scrape-btn" >Scrape Articles</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Jumbotron same on all pages -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Lonely Planet Scraper</h1>
    <p class="lead">Travel tips and featured articles.</p>
  </div>
</div>
<div class="container">
<div class="row" id="articles">
        
          
          
</div>
</div>